body {
	background: url('../img/wood.jpg');
	background-size: cover;
    background-position: center;
    margin: 0 auto;
/*    display: none;*/
}

.containerIntro {
	width: 800px;
	height: 575px;
	margin: 0 auto;
	margin-top: 150px;
	cursor: pointer;
	background: url('../img/greatTrainRobbery.png');
}

.containerInstruc {
	width: 800px;
	height: 575px;
	margin: 0 auto;
	margin-top: 150px;
	cursor: pointer;
	background: url('../img/wantedBig.png');
	display: none;
}

h3 {
	font-size: 15px;
	color: black;
	font-family: 'Kadwa', serif;
	position: absolute;
	margin-top: 200px;
	margin-left: 150px;
	color: rgba(0, 0, 0, .70);
}

.containerPeople {
	cursor: pointer;
	width: 800px;
	height: 575px;
	margin: 0 auto;
	margin-top: 150px;
	display: none;
}

.wanted-headline {
	color: white;
}

#buffaloBill {
	background: url('../img/buffaloBill.jpg');
}

#billyTheKid {
	background: url('../img/billyTheKid.jpg');
}

#josephine {
	background: url('../img/josephine.jpg');
}

#docHolliday {
	background: url('../img/docHolliday.jpg');
}

#wyattEarp {
	background: url('../img/wyattEarp.jpg');
}

#madameMustache {
	background: url('../img/madameMustache.jpg');
}

#butchCassidy {
	background: url('../img/butchCassidy.jpg');
}

#bonnieAndClyde {
	background: url('../img/bonnieAndClyde.jpg');
}

#batMasterson {
	background: url('../img/batMasterson.jpg');
}

#jesseJames {
	background: url('../img/jesseJames.jpg');
}

#buffaloBill,
#billyTheKid,
#josephine,
#docHolliday,
#wyattEarp,
#madameMustache,
#butchCassidy,
#bonnieAndClyde,
#batMasterson,
#jesseJames {
	margin-left: 32.5px;
	margin-top: 50px;
	width: 100px;
	height: 125px;
	border-radius: 7.5px;
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.625);
}

h4 {
	color: white;
	width: 135px;
	height: 17.5px;
	background-color: grey;
	text-align: center;
	border-radius: 5px;
	margin-right: 5px;
	margin-left: 15px;
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.625);
}

.containerHell {
	width: 800px;
	height: 450px;
	margin: 0 auto;
	margin-top: 215px;
	display: none;
/*	background-color: red;*/
}

.kurtRussell {
	width: 588px;
	height: 254px;
	background: url('../img/hell.jpg');
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.625);
}

h5 {
	color: white;
	font-size: 13px;
	width: 588px;
	height: 25px;
	background-color: grey;
	border-radius: 5px;
	margin: 0 auto;
	font-family: 'Kadwa', serif;
	margin-top: 50px;
	letter-spacing: 2px;
	text-align: center;
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.625);
	text-shadow: 2px 2px 2px black;
}

.container {
	width: 875px;
	height: 575px;
	margin: 0 auto;
	margin-top: 150px;
	display: none;
}

#timerContainer1 {
	width: 125px;
	height: 63px;
	margin-right: 25px;
	margin-top: 52.5px;
	background: url('../img/brownWoodLeft.jpg');
	border-radius: 5px;
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.625);
}

#timer1 {
	position: absolute;
	margin-top: -61px;
	margin-left: 150px;
}

#playerOneText  {
	margin-left: -127.5px;
	letter-spacing: 1px;
}

#output1 {
	position: relative;
	margin-top: 37.5px;
	margin-left: -115px;
	color: black;
	font-family: 'Sancreek', cursive;
	letter-spacing: 1px;
}

#timerContainer2 {
	width: 125px;
	height: 63px;
	margin-left: 25px;
	margin-top: 52.5px;
	background: url('../img/brownWoodRight.jpg');
	border-radius: 5px;
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.625);
}

#timer2 {
	position: absolute;
	margin-top: -61px;
	margin-left: 142.5px;
}

#playerTwoText  {
	margin-left: -125px;
	letter-spacing: 1px;
}

#output2 {
	position: relative;
	margin-top: 37.5px;
	margin-left: -115px;
	color: black;
	font-family: 'Sancreek', cursive;
	letter-spacing: 1px;
}

img {
	margin-left: 50px;
	width: 100px;
	height: 125px;
	border-radius: 7.5px;
	margin: 4px;
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.625);
}

h1 {
	margin-top: 15px;
	font-family: 'Sancreek', cursive;
	color: rgba(255, 255, 255, .90);
	font-size: 22px;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.75);
}

.containerOneWinsPartOne{
	width: 800px;
	height: 575px;
	margin: 0 auto;
	margin-top: 125px;
	/*background-color: red;*/
	display: none;
}

.oneWinsPartOne {
	width: 360px;
	height: 475px;
	background: url('../img/tombstone.jpg');
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.625);
}

.containerOneWinsPartTwo {
	width: 800px;
	height: 625px;
	margin: 0 auto;
	margin-top: 100px;
	display: none;
}

.oneWinsPartTwo {
	width: 360px;
	height: 475px;
	background: url('../img/deadGuy.jpg');
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.625);
}

.containerTwoWinsPartOne{
	width: 800px;
	height: 575px;
	margin: 0 auto;
	margin-top: 125px;
	display: none;
}

.twoWinsPartOne {
	width: 360px;
	height: 475px;
	background: url('../img/tombstone.jpg');
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.625);
}

.containerTwoWinsPartTwo {
	width: 800px;
	height: 625px;
	margin: 0 auto;
	margin-top: 100px;
	display: none;
}

.twoWinsPartTwo {
	width: 360px;
	height: 475px;
	background: url('../img/deadGuy.jpg');
	margin: 0 auto;
	border-radius: 5px;
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.625);
}


h2 {
	color: white;
	font-size: 15px;
	width: 360px;
	height: 35px;
	background-color: grey;
	border-radius: 5px;
	margin: 0 auto;
	margin-top: 40px;
	letter-spacing: 1px;
	text-align: center;
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.625);
	text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, .5);
}

.play-again {
	margin-top: 32.5px;
	margin-left: 350px;
	color: white;
	font-size: 17px;
	letter-spacing: .25px;
	background-color: #ba332e;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.625);
	cursor: pointer;
	width: 100px;
	text-align: center;
	text-shadow: 1.5px 1.5px 1.5px rgba(0, 0, 0, .5);
}





